<!-- <div id="main-search" class="main-search open">
  <div class="input-group">
    <input type="text" id="m-search" class="form-control" placeholder="Search Flag" [style.width]="searchWidthString" />
    <a href="javascript:" class="input-group-append search-close">
      <i class="feather icon-x input-group-text"></i>
    </a>
    <span class="input-group-append search-btn btn btn-primary d-flex"  role="none">
      <i class="feather icon-search input-group-text" (click)="searchOff()"></i>
    </span>
  </div>
</div> -->



