
<div class="row">
  <!-- @for (sale of sales; track sale) {
    <div class="{{ sale.design }} col-xl-4">
      <app-card [hidHeader]="true">
        <h6 class="mb-4">{{ sale.title }}</h6>
        <div class="row d-flex align-items-center">
          <div class="col-9">
            <h3 class="f-w-300 d-flex align-items-center m-b-0">
              <i class="feather {{ sale.icon }} f-30 m-r-10"></i>
              {{ sale.amount }}
            </h3>
          </div>
          <div class="col-3 text-end">
            <p class="m-b-0">{{ sale.percentage }}</p>
          </div>
        </div>
        <div class="m-t-30">
          <ngb-progressbar type="progress-bar {{ sale.progress_bg }}" height="7px" [value]="sale.progress"></ngb-progressbar>
        </div>
      </app-card>
    </div>
  } -->

  <!-- Flag status search section -->
  <div class="col-xl-12 col-md-12">
    <app-card>
      <div class="col-xl-12 col-md-12 flag-count">Total Flags Count : {{totalFlagsCount}}</div>
      <!-- <h6 class="mb-4">Flag Status</h6> -->
      <div class="flag-search-container">
        <input type="text" id="flagInput" [(ngModel)]="featureFlagKey" (keydown.enter)="getFlagDetails(featureFlagKey)" placeholder="Search flags by key" />
        <button id="searchBtn" aria-label="Search flag" (click)="getFlagDetails(featureFlagKey)">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="20" width="20" viewBox="0 0 24 24" stroke="white" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-4.35-4.35M10.5 17a6.5 6.5 0 100-13 6.5 6.5 0 000 13z"/>
          </svg>
        </button>
      </div>      
    </app-card>
  </div>

  <div class="col-xl-12 col-md-12">
    <app-card cardTitle="Recent Users" cardClass="Recent-Users table-card" blockClass="p-0">
      <div class="table-responsive">
        <table class="table table-hover mb-0" style="margin-bottom: 20px !important;">
          <thead>
            <tr>
              <th style="width: 30px;"></th>
              <th style="width: 500px;">Recently Created Flags</th>
              <th>Create Date</th>
              <th>Flag Status</th>
            </tr>
          </thead>
          <tbody>
              <tr class="unread" *ngFor="let flag of recentFlags">
                <td style="width: 30px;">
                  <img class="rounded-circle" style="width: 40px" src="../../../assets/images/avatar-2.jpg" alt="activity-user" />
                </td>
                <td style="width: 500px;">
                  <p class="mb-1 flag-name" (click)="getFlagDetails(flag.key)">{{ flag.name }}</p>
                  <p style="white-space: break-spaces;width: 400px;" class="m-0" *ngIf="flag.description.length > 0">{{ flag.description }}</p>
                  <span
                    class="badge bg-light text-dark position-relative"
                    (click)="copyToClipboard(flag.key)"
                    (mouseenter)="showToolTipIcon(flag.key)"
                    (mouseleave)="hideToolTipIcon(flag.key)"
                    style="cursor: pointer;padding: 10px;font-size: 12px;margin-top: 4px;">
                    {{ flag.key }}
                    
                    <div *ngIf="tooltipVisible[flag.key]" class="tooltip-custom">
                      Copy {{ flag.key }} to clipboard
                    </div>
                  </span>

                </td>
                <td>
                  <h6 class="text-muted">
                    <i class="f-10 fa-circle fas m-r-15 text-c-green"></i>
                    {{ formatTimestamp(flag.creationDate) }}
                  </h6>
                </td>
                <td>
                  <div style="display: inline-block;">
                    <a href="javascript:" (click)="getFlagDetails(flag.key)" class="badge me-2 theme-bg2 text-white f-12" style="background: #F5A623;">Test</a>
                    <p class="m-0" [ngClass]="flag.environments.test.on? 'green-highlight' : 'red-highlight'">{{ flag.environments.test.on ? 'ON' : 'OFF'}}</p>
                  </div>
                  <div style="display: inline-block;">
                    <a href="javascript:" (click)="getFlagDetails(flag.key)" class="badge me-2 theme-bg text-white f-12" style="background: #417505;">Production</a>
                    <p class="m-0" [ngClass]="flag.environments.production.on? 'green-highlight' : 'red-highlight'">{{ flag.environments.production.on ? 'ON' : 'OFF'}}</p>
                  </div>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>