<div class="">
  <a [routerLink]="['/dashboard']" class="b-brand">
    <div class="b-bg">
      <!-- <i class="feather icon-trending-up"></i> -->
      <img src="../../../../../../assets/images/favicon-login.png" alt="App Icon" style="width: 50px; height: 35px; margin-bottom: 10px;border-radius: 5px;margin-top: 10px;" />
    </div>
    <span class="b-title">Launch Darkly</span>
  </a>
  <a href="javascript:" class="mobile-menu" [ngClass]="{ on: navCollapsed }" id="mobile-collapse" (click)="navCollapse()"><span></span></a>
</div>
